.array-bar {
  background-color: red;
  width: 20px;
  margin: 1px;
}

.array-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
}

h1 {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 5%;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
